<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Song</title>
  </head>
  <body>
    <div class="container">
      <h2>Edit Song</h2>
      <form method="POST" action="">
        <div class="form-group">
          <label for="Album">Select an Album:</label>
          <select class="form-control" name="Album">
            <option value="Independent">Independent</option>
            <option value="Current_album">Current album</option>
            <option value="New_album">New album</option>
          </select>

          <input type="text" name="txt" />
        </div>

        <button type="submit">Update</button>
      </form>
    </div>
  </body>
</html>
