<!DOCTYPE html>
<html>
  <head>
    <meta caharset="UTF-8" />
    <title>Music App Creator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <style>
      .container {
        width: 100%;
        padding: 20px;
      }
      .head_nav {
        justify-content: space-around;
      }
      #navbarSupportedContent {
        justify-content: space-between;
      }
      #nv {
        padding-left: 5%;
      }
      .row {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <nav class="navbar navbar-expand-lg navbar-light bg-light" id="nv">
        <a class="navbar-brand" href="{{ url_for('home') }}">Music</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('playlists')}}">
                My playlist
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('liked')}}"> Liked songs </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('account')}}"> Account </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="creator/albums"> Albums </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('search')}}"> Search </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link"><b>Creator space</b></a>
            </li>
          </ul>
          <form class="ml-auto">
            <div class="row">
              <div class="col-md-2">
                <button
                  id="searchButton"
                  class="btn btn-outline-success my-mr-2"
                >
                  <a href="{{url_for('logout')}}"> Logout</a>
                </button>
              </div>
            </div>
          </form>
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
      </nav>
    </div>

    Creator
    <!-- <div class="container text-center">
      <div class="row justify-content-around">
        <div class="col-sm-3"><button type="menu">Songs uploaded</button></div>
        <div class="col-sm-3"><button type="menu">Albums uploaded</button></div>
        <div class="col-sm-3"><button type="menu">Notification</button></div>
        <div class="col-sm-3"><button type="menu">Account</button></div>
      </div>
    </div> -->
    <div class="content" id="content">
      <button type="button" popovertarget="upload_song">Upload</button>
      <div popover id="upload_song">
        <form method="POST" enctype="multipart/form-data">
          <label for="s_name">Song name</label>
          <input type="text" name="s_name" /><br />

          <div class="form-group">
            <label for="Album">Select an Album:</label>
            <select class="form-control" name="Album">
              <option value="Independent">Independent</option>
              <option value="Current_album">Current album</option>
              <option value="New_album">New album</option>
            </select>

            <label for="album_name">Album Name(if required):</label>
            <input type="text" name="album_name" />
            <label for="album_id">Album ID(if required):</label>
            <input type="text" name="album_id" />
          </div>

          <label for="song">Song</label>
          <input type="file" name="song" accept=".mp3" required /><br />

          <label for="lyrics">Lyrics</label>
          <textarea name="lyrics" rows="10" cols="50"></textarea><br />

          <input type="submit" name="submit" />
        </form>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-2"><b>Song id</b></div>
        <div class="col-2"><b>Song name</b></div>
        <div class="col-2"><b>Uploaded by</b></div>
        <div class="col-2"><b>Album</b></div>
        <div class="col-2"><b>Rating</b></div>
      </div>
      {% for s in songs_uploaded %}
      <div class="row" id="r">
        <div class="col-2">{{s.song_id}}</div>
        <div class="col-2">{{s.song_name}}</div>
        <div class="col-2">
          {% for u in user%}{% if u.user_id==s.uploaded_by%}{{u.name}}{% endif
          %}{% endfor %}
        </div>
        <div class="col-2">
          {% for i in albums%}{% if i.album_id==s.albums%}{{i.album_name}}{%
          endif %}{% endfor %}
        </div>

        <div class="col-2">
          {% if s.upvote==0 and s.downvote==0 %}No votes{% else %}
          {{s.upvote/(s.downvote+s.upvote)*100}} {% endif %}
        </div>

        <div class="col-1">
          <a href="{{ url_for('edit_song', song_id=s.song_id) }}">Edit name</a>
        </div>
        <div class="col-1">
          <a href="{{ url_for('edit_lyrics', song_id=s.song_id) }}"
            >Edit lyrics</a
          >
        </div>
        <div class="col-1">
          <a href="{{ url_for('delete_song', song_id=s.song_id) }}">Delete</a>
        </div>
        <div class="col-1">
          <a href="{{ url_for('edit_album', song_id=s.song_id) }}"
            >Edit album</a
          >
        </div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
